<h2>Rewards</h2>
<div class="container">
<%= for reward <- @rewards do %>
  <div class="col s1">
    <%= render "reward.html", reward: reward %>
    <%= link "details", to: reward_path(@conn, :show, reward.id) %>
  </div>
<% end %>
  
</div>
